<h1><%= @location.name %><h1>
  <h2><%= @location.address %></h2>

  <br></br>

  <h3>Visitors:</h3>
  <ul><% @location.jumps.each do |jump| %>
    <li>"<%= jump.comments %>" -<a href="/users/<%= jump.user.slug %>"><%= jump.user.username %></a><br>
    <%= jump.kind %>, <%= jump.height %></li>
    <% end %></ul>
